name: Release Tag

on:
  push:
    tags: v*
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set Variables
      run: echo "release_version=${GITHUB_REF_NAME/v/}" >> $GITHUB_ENV

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.4'

    - name: Build
      run: make build

    - name: Test
      run: go test -v ./...

    - name: Package Binary
      run: rsync sshified README.md LICENSE sshified-${{ env.release_version }}-linux-amd64 && tar cvjf sshified-${{ env.release_version }}-linux-amd64.tar.bz2 sshified-${{ env.release_version }}-linux-amd64

    - name: Release
      uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b
      if: startsWith(github.ref, 'refs/tags/')
      with:
        body_path: CHANGELOG.md
        files: |
          sshified-${{ env.release_version }}-linux-amd64.tar.bz2
